.room-page {
  display: flex;
}

.room-aside {
  width: 30%;
  padding-right: 5%;
}

.header-wrap {
  min-height: 135px;
}

.room-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 70vh;
}

.room-counter {
  font-size: 20vh;
}

.button-user-status {
  width: 60%;
  height: 30%;
  margin-right: 0 !important;
  font-size: 5vh !important;
  text-transform: uppercase !important;
}

.game-text {
  margin: 30px;
}

.typed-text {
  background-color: #0ea432;
  border-radius: 2px;
}

.current-char {
  border: 2px solid red;
  border-radius: 2px;
}

.game-timer {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.8rem;
  font-style: italic;
}
